<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stand.spring.Mapper.TempData200000000002Mapper" >
  <resultMap id="BaseResultMap" type="com.stand.spring.model.TempData200000000002" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="Data_Id" property="dataId" jdbcType="INTEGER" />
    <result column="Data_Date" property="dataDate" jdbcType="DATE" />
    <result column="Data_Time" property="dataTime" jdbcType="TIME" />
    <result column="Data1" property="data1" jdbcType="DOUBLE" />
    <result column="Hour0" property="hour0" jdbcType="DOUBLE" />
    <result column="Hour1" property="hour1" jdbcType="DOUBLE" />
    <result column="Hour2" property="hour2" jdbcType="DOUBLE" />
    <result column="Hour3" property="hour3" jdbcType="DOUBLE" />
    <result column="Hour4" property="hour4" jdbcType="DOUBLE" />
    <result column="Hour5" property="hour5" jdbcType="DOUBLE" />
    <result column="Hour6" property="hour6" jdbcType="DOUBLE" />
    <result column="Hour7" property="hour7" jdbcType="DOUBLE" />
    <result column="Hour8" property="hour8" jdbcType="DOUBLE" />
    <result column="Hour9" property="hour9" jdbcType="DOUBLE" />
    <result column="Hour10" property="hour10" jdbcType="DOUBLE" />
    <result column="Hour11" property="hour11" jdbcType="DOUBLE" />
    <result column="Hour12" property="hour12" jdbcType="DOUBLE" />
    <result column="Hour13" property="hour13" jdbcType="DOUBLE" />
    <result column="Hour14" property="hour14" jdbcType="DOUBLE" />
    <result column="Hour15" property="hour15" jdbcType="DOUBLE" />
    <result column="Hour16" property="hour16" jdbcType="DOUBLE" />
    <result column="Hour17" property="hour17" jdbcType="DOUBLE" />
    <result column="Hour18" property="hour18" jdbcType="DOUBLE" />
    <result column="Hour19" property="hour19" jdbcType="DOUBLE" />
    <result column="Hour20" property="hour20" jdbcType="DOUBLE" />
    <result column="Hour21" property="hour21" jdbcType="DOUBLE" />
    <result column="Hour22" property="hour22" jdbcType="DOUBLE" />
    <result column="Hour23" property="hour23" jdbcType="DOUBLE" />
    <result column="Hour24" property="hour24" jdbcType="DOUBLE" />
  </resultMap>
</mapper>